<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/6b6d567c7b.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100">
  <div class="w-full p-4 h-16 text-center">
    <a href="/" class="flex items-center">
      <i class="fa-solid fa-dice-d20 pr-2"></i>
      <p class="text-center text-xl">Krit Converter</p>
    </a>
  </div>
  <div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-lg shadow-lg">
    <div class="space-y-4">
      <h1 class="text-2xl font-bold">Krit Converter</h1>
      <p class="text-gray-500">Upload a font file and the numbers will be converted to SVG format.</p>
      <form class="space-y-4" enctype="multipart/form-data" action="/" method="post">
        <div>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="file"
          >
            Document
          </label>
          <input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 file:border-r-1 file:border-black"
            id="file"
            type="file"
            name="font"
          />
        </div>
        <p class="text-sm text-gray-500">Supported file types: .ttf, .otf</p>
        <div>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="preset"
          >
            Formatting Preset
          </label>
        </div>
        <button
          class="inline-flex items-center bg-black text-white justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
          type="submit"
        >
          Generate SVG's
        </button>
      </form>
      <div class="space-y-4">
        <h3 class="text-xl font-bold">What will be generated?</h3>
        <div class="grid gap-4">
          <div>
            <h4 class="font-semibold">Dice Set</h4>
            <div class="flex flex-wrap gap-4">
              <p class="p-2 border-b border-1 border-gray-400">0-20</p>
              <p class="p-2 border-b border-1 border-gray-400">30</p>
              <p class="p-2 border-b border-1 border-gray-400">40</p>
              <p class="p-2 border-b border-1 border-gray-400">50</p>
              <p class="p-2 border-b border-1 border-gray-400">60</p>
              <p class="p-2 border-b border-1 border-gray-400">70</p>
              <p class="p-2 border-b border-1 border-gray-400">80</p>
              <p class="p-2 border-b border-1 border-gray-400">90</p>
              <p class="p-2 border-b border-1 border-gray-400">00</p>
              <p class="p-2 border-b border-1 border-gray-400">6.</p>
              <p class="p-2 border-b border-1 border-gray-400">9.</p>
              <p class="p-2 border-b border-1 border-gray-400">_</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto mt-12 px-4 border-t-1 border-gray-400 text-center">
    <h2 class="text-xl font-bold">Support the Creator</h2>
    <p class="text-gray-500">If you like this tool, consider supporting the creator!</p>
    <div class="flex flex-wrap gap-2 justify-center mt-4">
      <a href="https://ko-fi.com/kramercodes" class="flex items-center justify-center px-2">
        <i class="fa-solid fa-mug-hot pr-2"></i>
        <p class="text-center">Buy me a coffee</p>
      </a>
      <a href="https://github.com/krames12/krit-converter" class="flex items-center justify-center px-2">
        <i class="fa-brands fa-github pr-2"></i>
        <p class="text-center">Contribute on GitHub</p>
      </a>
      <a href="https://www.kritdice.com" class="flex items-center justify-center px-2">
        <i class="fa-solid fa-shop pr-2"></i>
        <p class="text-center">Visit our shop</p>
      </a>
    </div>
  </div>
</body>
</html>
