<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/6b6d567c7b.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100">
  <div class="w-full p-4 h-16">
    <a href="/" class="flex items-center">
      <i class="fa-solid fa-dice-d20 pr-2"></i>
      <p class="text-center text-xl">Krit Converter</p>
    </a>
  </div>
  <section class="container max-w-lg mx-auto py-12 px-4 md:py-24">
    <div class="grid gap-6 md:gap-8">
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight md:text-4xl">Download Now</h2>
        <p class="text-gray-700 dark:text-gray-400 md:text-xl">
          Here are your files! These will be deleted within the next 6 hours.
        </p>
      </div>
      <div class="space-y-4">
          <a class="flex w-full p-4 shrink-0 items-center justify-center rounded-md border border-1 border-gray-800 hover:bg-gray-200 transition-colors group-hover:bg-gray-200" href="{{.ZipPath}}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-6 w-6 text-gray-500 mr-2"
              >
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" x2="12" y1="15" y2="3"></line>
            </svg>
            <p class="text-lg font-semibold">{{.ZipName}}</p>
          </a>
      </div>
    </div>
  </section>
  <div class="mx-auto mt-12 px-4 border-t-1 border-gray-400 text-center">
    <h2 class="text-xl font-bold">Support the Creator</h2>
    <p class="text-gray-500">If you like this tool, consider supporting the creator!</p>
    <div class="flex flex-wrap gap-2 justify-center mt-4">
      <a href="https://ko-fi.com/kramercodes" class="flex items-center justify-center px-2">
        <i class="fa-solid fa-mug-hot pr-2"></i>
        <p class="text-center">Buy me a coffee</p>
      </a>
      <a href="https://github.com/krames12/krit-converter" class="flex items-center justify-center px-2">
        <i class="fa-brands fa-github pr-2"></i>
        <p class="text-center">Contribute on GitHub</p>
      </a>
      <a href="https://www.kritdice.com" class="flex items-center justify-center px-2">
        <i class="fa-solid fa-shop pr-2"></i>
        <p class="text-center">Visit our shop</p>
      </a>
    </div>
  </div>
</body>
</html>
